.flights-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 50vw;
}

.addFlight-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 10px 22px 3px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: white;
}

p {
  color: red;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
